%form.mini.search.blanket{ action: search_groups_path}
  <label for="search-groups-query" class="placeholder">Search for groups</label>
  <input type="text" name="search_query" class="text" id="group-searh-query" value="Search for groups" data-default-value="Search for groups" autocomplete="off"/>
  <input type="submit" class="button submit wide" value="Search" />