%form{ action: search_events_path, class: 'mini search inline-search'}
  <input type="text" name="search_query" class="text" id="event-search-query" value="eg: &ldquo;Yoga on 17th May&rdquo;" data-default-value="eg: &ldquo;Yoga on 17th May&rdquo;" />
  <input type="submit" value="Search" class="button submit" />
