- content_for(:page_title) { 'About Us' }

#main.noPadding
 .textContainer
  %h1
   About Us
  %h2
   Lorem ipsum dolor sit amet.
  %hr
  %h3
   Seshank Vemuri
   %em Founder/Owner
  = image_tag "thumb_placeholder1.jpg", class: "left"
  %p
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor turpis, semper in lacinia nec, dictum quis quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed non diam velit. Aliquam erat volutpat. Nam pulvinar odio ac velit ultricies elementum. Curabitur euismod nisl eu nisi fringilla suscipit. Curabitur quis nisl justo. Praesent malesuada orci et ipsum congue varius. Donec nibh purus, viverra nec rhoncus eget, molestie id justo. Quisque tempor feugiat mauris id eleifend.
  %h3
   Panagiotis Siatris
   %em Development
  = image_tag "thumb_placeholder2.jpg", class: "right"
  %p
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor turpis, semper in lacinia nec, dictum quis quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed non diam velit. Aliquam erat volutpat. Nam pulvinar odio ac velit ultricies elementum. Curabitur euismod nisl eu nisi fringilla suscipit. Curabitur quis nisl justo. Praesent malesuada orci et ipsum congue varius. Donec nibh purus, viverra nec rhoncus eget, molestie id justo. Quisque tempor feugiat mauris id eleifend.
  %h3
   Andrew Klatzke
   %em Title
  = image_tag "andrew_klatzke.jpg", class: "left"
  %p
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor turpis, semper in lacinia nec, dictum quis quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed non diam velit. Aliquam erat volutpat. Nam pulvinar odio ac velit ultricies elementum. Curabitur euismod nisl eu nisi fringilla suscipit. Curabitur quis nisl justo. Praesent malesuada orci et ipsum congue varius. Donec nibh purus, viverra nec rhoncus eget, molestie id justo. Quisque tempor feugiat mauris id eleifend.
