- content_for(:page_title) { 'Advertisers' }

#main.noPadding
 .textContainer
  %h1
   Advertising with Around Yoga
  %h3
   Cost
  = image_tag "thumb_placeholder1.jpg", class: "left"
  %p
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor turpis, semper in lacinia nec, dictum quis quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed non diam velit. Aliquam erat volutpat. Nam pulvinar odio ac velit ultricies elementum. Curabitur euismod nisl eu nisi fringilla suscipit. Curabitur quis nisl justo. Praesent malesuada orci et ipsum congue varius. Donec nibh purus, viverra nec rhoncus eget, molestie id justo. Quisque tempor feugiat mauris id eleifend.
  %h3
   Placement Sizes
  %ul
   %li
    Placement 1: $35/impression
   %li
    Placement 2: $35/impression
   %li
    Placement 3: $35/impression
  %h3
   Why Advertise with Around Yoga?
  %p
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor turpis, semper in lacinia nec, dictum quis quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed non diam velit. Aliquam erat volutpat. Nam pulvinar odio ac velit ultricies elementum. Curabitur euismod nisl eu nisi fringilla suscipit. Curabitur quis nisl justo. Praesent malesuada orci et ipsum congue varius. Donec nibh purus, viverra nec rhoncus eget, molestie id justo. Quisque tempor feugiat mauris id eleifend.