- content_for(:page_title) { 'Contact Us' }

#main.noPadding
 .textContainer
  %h1
   Contact Us
  %h2
   Lorem ipsum dolor sit amet.
  %ul.contact
   %li
    Phone: ()
   %li
    Email:
    = link_to "mailto:info@aroundyoga.com", "info@aroundyoga.com"
   %li
    Mailing Address:
    P.O. Box 555
    City, State
    55500
