- content_for(:page_title) { 'Help' }

#main.noPadding
 .textContainer
  %h1
   Help
  %h2
   This is just filler text for the subheadline on the help section
  %hr
  %h3
   Accessibility
  %p
   The web pages available at Aroundyoga  and all linked pages (“Site”), are owned and operated by Kiraak LLC a Delaware based LLC and is accessed by you under the Terms of Use described below (“Terms”).
  %p
   Please read these terms carefully before using the services. By accessing the site, viewing any content or using any services available on the site (as each is defined below) you are agreeing to be bound by these terms, which together with our, governs our relationship with you in relation to the site. If you disagree with any part of the terms then you may not access the site.
