form
{
  position: relative;
  margin-bottom: 1.5em;
}

form ul > li
{
  position: relative;
  float: left;
  width: 100%;
  padding-bottom: 12px;
  margin-top: 9px;
}

form ul > li > span.formerror
{
  position: absolute;
  top: -22px;
  color: $red;
  padding: 6px;
  font-size: .8em;
  font-weight: bold;
}

input, label, label > *
{
  vertical-align: middle;
}

input.text,
input.smalltext,
input.tinytext,
textarea,
select
{
  margin: 0;
  padding: 5px 7px;
  border: solid 1px #999;
  background-color: #fff;
  color: #777;
  font: normal 1em/normal $sansFont;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

input.smalltext
{
  width: 30px;
  text-align: center;
}

input.tinytext
{
  width: 25px;
}

input.text:focus,
textarea:focus,
select:focus,
input.text.focus,
textarea.focus,
select.focus
{
  border-color: $primary;
  outline: none;
}

input.button
{
  min-width: 75px;
  border: solid 1px #b52e1c;
  background: #d74d3b image-url('grad2.png') 0 0 repeat-x;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e78478), to(#d44a38));
  background: -webkit-linear-gradient(top, #e78478, #d44a38);
  background: -moz-linear-gradient(top, #e78478, #d44a38);
  background: -ms-linear-gradient(top, #e78478, #d44a38);
  background: -o-linear-gradient(top, #e78478, #d44a38);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  behavior: url('/components/PIE.htc');
}

input.button:hover
{
}

input.button:active
{
  background: #596a72; /* Old browsers */
background: -moz-linear-gradient(top,  #596a72 0%, #393c3f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#596a72), color-stop(100%,#393c3f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #596a72 0%,#393c3f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #596a72 0%,#393c3f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #596a72 0%,#393c3f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #596a72 0%,#393c3f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#393c3f',GradientType=0 ); /* IE6-9 */
  border: 1px solid #555;
  behavior: url('/components/PIE.htc');
}

textarea
{
  overflow: auto;
  height: 100px;
  resize: vertical;
}

input.checkbox
{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

label.placeholder
{
  position: absolute;
  top: 8px;
  left: 7px;
  width: auto;
  padding: 0;
  color: #999;
  font: normal 18px/normal $sansFont;
}

/* SIGNUP FORM */
#wrapper > .inwards > #main > #content > form
{
  float: left;
  width: 100%;
  margin: 0;
  padding-bottom: 1.5em;
}

#wrapper > .inwards > #main > #content > form .placeholder
{
  top: 4px;
  left: 26px;
  font-size: 23px;
}

#wrapper > .inwards > #main > #content > form input.text
{
  width: 247px;
  padding: 3px 15px 3px 25px;
  font-size: 23px;
}

ul li input{
  width: 247px;
  padding: 3px 15px 3px 25px;
  font-size: 23px;
}

#wrapper > .inwards > #main > #content > form small
{ float: left;
  width: 50%;
  color: $gray;
  font-size: 10px;
  line-height: 11px;
}

#wrapper > .inwards > #main > #content > form small a,
#wrapper > .inwards > #main > #content > form small a:link,
#wrapper > .inwards > #main > #content > form small a:visited
{
  color: $gray;
}

#wrapper > .inwards > #main > #content > form small a:hover
{
  color: $primary;
}




/* Login Form  */

#main > #login > form
{
  width: 50%;
}

#main > #login > form > .button
{
float: none;
width: 70px;
height: 33px;
font-size: 13px;
margin-top: 15px;
margin-bottom: 10px;
}

/* Reset Form */

#main > #passreset{
  padding: 35px;
border: 2px solid #cdcdcd;
min-height: 200px;

}

#main > #passreset > form
{
  width: 65%;
  margin: 0px auto 0px auto;
}

#main > #passreset > form > .button
{
  float: left;
  font-size: 13px;
  margin-top: 7.5px;
}

form > small
{
  display: block;
  width: 200px;
}

form.form_default > ul > li input
{
  width: 200px;
}

#login{
  padding: 35px;
  border: 2px solid #cdcdcd;
}


form input[type="text"], form input[type="password"]{
  width: 200px;
  padding: 5px 15px 5px 25px;
  font-size: 18px;
}

form input.submit
{
  border: none;
  border: 1px solid #3a8ec7;
  background: #2a98d3; /* Old browsers */
  background: -moz-linear-gradient(top,  #2a98d3 0%, #2073a0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a98d3), color-stop(100%,#2073a0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2a98d3 0%,#2073a0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2a98d3 0%,#2073a0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2a98d3 0%,#2073a0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #2a98d3 0%,#2073a0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a98d3', endColorstr='#2073a0',GradientType=0 ); /* IE6-9 */
  padding: 0px 10px 0px 10px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: rgba(0, 0, 0, .3) -1px -1px 0;
  color: white;
  font-size: 18px;
  height: 35px;
  margin-left: 0px;
  font-family: $sansFont;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}


form input.submit.big{
width: 78px;
height: 36px;
font-size: 13px;
margin-left: 25px;
}


select#signup_country{
  
}

select#signup_region, label.region{
  display: none;
}

select#signup_city, label.city{
  display: none;
}
